---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Contacto from "../components/Contacto.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Maleta from "../components/icons/Maleta.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import CV from "../components/icons/CV.astro";
import Tec from "../components/icons/Tec.astro";
import Tecnologias from "../components/Tecnologias.astro";
import Profile from "../components/icons/Profile.astro";
import Sobremi from "../components/Sobremi.astro";
import MailContacto from "../components/icons/MailContacto.astro";
---

<Layout
  title="Porfolio de Adri - Desarrollador Web y Programador Web"
  description="Desarrollador Backend con experiencia en Java, Spring Boot y la creación de APIs RESTful. He trabajado integrando bases de datos MySQL, optimizando aplicaciones web y mejorando la experiencia del usuario con React y Laravel. Apasionado por resolver problemas complejos y mejorar el rendimiento del código, con conocimientos en Docker, Git y pruebas unitarias con JUnit."
>
  <main class="px-4">
    <SectionContainer id="inicio"  class="py-44 pb-32">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="/Image/fotoB.png"
        alt="Adri photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Adri! <a
          href="https://www.linkedin.com/in/adrian8cuenca/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px] text-pretty">
        Desarrollador Backend con experiencia en 
        <span class="text-yellow-100">Java</span>, 
        <span class="text-yellow-100">Spring Boot</span> y la creación de 
        <span class="text-yellow-100">APIs RESTful</span>. He trabajado integrando 
        bases de datos <span class="text-yellow-100">MySQL</span>, optimizando 
        aplicaciones web y mejorando la experiencia del usuario con 
        <span class="text-yellow-100">React</span> y <span class="text-yellow-100">Laravel</span>. 
        Apasionado por resolver problemas complejos y mejorar el rendimiento del 
        código, con conocimientos en <span class="text-yellow-100">Docker</span>, 
        <span class="text-yellow-100">Git</span> y pruebas unitarias con 
        <span class="text-yellow-100">JUnit</span>.
      </h2>
      

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/adrian8cuenca/">
          <LinkedIn class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/AdriCe8">
          <GitHub class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:adri8cuenca@gmail.com">
          <Mail class="size-4 md:size-6" />
          adri8cuenca@gmail.com
        </SocialPill>
        <SocialPill href="/AdriCuencaVelasco.pdf" download="AdriánCuenca.pdf">
          <CV class="size-4 md:size-6"/>
          CV
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="tecno">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Tec class="size-7"/>
        Tecnologías
      </h2>
      <Tecnologias/>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Maleta class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Profile class="size-9"/>
        Sobre mí
      </h2>
      <Sobremi/>
    </SectionContainer>
    <SectionContainer id="contacto">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <MailContacto class="size-9" />
        Contacto
      </h2>
      <Contacto/>
    </SectionContainer>
  </main>

 
</Layout>
