---
import { date } from "astro:schema"
import ExperienceItems from "./ExperienceItems.astro"
import type { ACTION_ERROR_CODES, ACTION_QUERY_PARAMS } from "astro:actions"

const EXPERIENCE = [
    {
        date:"Enero - Junio 2024 (Prácticas)",
        title:"Desarrollador BackEnd",
        description:"Desarrollé aplicaciones y APIs RESTful con Java y Spring Boot, integrando bases de datos y asegurando la escalabilidad,lo que redujo los tiempos de respuesta en un 30%. Además implementé y mantuve un sistema CRM utilizando PHP y JavaScript, logrando una mejora del 40% en la velocidad de carga y una reducción del 20% en los errores reportados por los usuarios."
    },{
        date:"Marzo - Junio 2018 (Prácticas)",
        title:"Especialista en marketing digital",
        description:"Desarrollé una campaña de anuncios en redes sociales, donde creé imágenes publicitarias y creatividades que mejoraron la visibilidad de la marca y atrajeron más tráfico al sitio web. Además, diseñé y ejecuté campañas de email marketing, generando contenido visual y segmentando audiencias para aumentar la interacción con los suscriptores y promover productos clave.",
    },
]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItems {...experience} />
        </li>
        ))
    }  
</ol>
