---
import { date } from "astro:schema"
import ExperienceItems from "./ExperienceItems.astro"
import type { ACTION_ERROR_CODES, ACTION_QUERY_PARAMS } from "astro:actions"

const EXPERIENCE = [
    {
        date:"Enero - Septiembre 2024",
        title:"Desarrollador BackEnd",
        description:"Desarrollé una API RESTful en Java con Spring Boot, integrada con bases de datos SQL y conectada a un frontend en Angular, logrando una interfaz de usuario interactiva y fluida. Además, implementé y mantuve un sistema CRM utilizando PHP y JavaScript, optimizando la gestión de clientes y los flujos de trabajo. También diseñé un sistema de captura de fotografía instantánea en JavaScript para registrar el fichaje de los operarios, mejorando el control de asistencia y autenticidad en el proceso."
    },{
        date:"Marzo - Junio 2018",
        title:"Especialista en marketing digital",
        description:"Desarrollé una campaña de anuncios en redes sociales, donde creé imágenes publicitarias y creatividades que mejoraron la visibilidad de la marca y atrajeron más tráfico al sitio web. Además, diseñé y ejecuté campañas de email marketing, generando contenido visual y segmentando audiencias para aumentar la interacción con los suscriptores y promover productos clave.",
    },
]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItems {...experience} />
        </li>
        ))
    }  
</ol>
