<section class="flex gap-x-8 justify-center">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-200">
    <p>
      Me llamo Adrián, tengo 28 años y soy de Antequera (Málaga) 🇪🇸. He
      terminado mis estudios como <strong>Técnico Superior de Desarrollo de Aplicaciones
      Web (DAW)</strong>. Me encanta enfocarme en la parte del rendimiento, para ofrecer
      la mejor experiencia al usuario.
    </p>

    <p>
      Siempre estoy inmerso en proyectos personales que me permiten seguir
      mejorando mis habilidades técnicas y explorando <strong> tendencias en
      desarrollo web.</strong> Algunos de estos proyectos incluyen la creación de
      aplicaciones web para distintos propósitos, desde páginas estáticas hasta
      sistemas más complejos.
    </p>

    <p>
      <strong>Me considero una persona proactiva y autodidacta</strong>, siempre dispuesta a
      asumir nuevos retos y mejorar día a día. Mi objetivo es unirme a un equipo
      de desarrollo donde pueda contribuir con mis conocimientos, aprender de
      profesionales experimentados y seguir creciendo tanto a nivel técnico como
      personal. 
    </p>
  </div>
  <img src="/Image/me3.png" class="rounded-full size-64">
</section>
